 *.csproj filter=_config
git config --global filter._config.clean 'sed "s/<OutputPath>C:\Users\User\Desktop\YGOPro\WindBot\</OutputPath>/<OutputPath>bin\Debug\</OutputPath>/g"'
git config --global filter._config.smudge 'sed "s/<OutputPath>bin\Debug\</OutputPath>/<OutputPath>C:\Users\User\Desktop\YGOPro\WindBot\</OutputPath>/g"'