version: '{build}'

platform: x86
configuration: Release

build: 
    project: WindBot.sln
    parallel: true

after_build:
  - mv -f bin\Release WindBot
  - rm -rf WindBot\WindBot.exe.config
  - mv -f BotWrapper\bin\Release\Bot.exe .
  - mv -f BotWrapper\bin\Release\bot.conf .
  - 7z a -mx9 WindBot.7z WindBot Bot.exe bot.conf
test: off

artifacts:
  - path: WindBot.7z
    name: WindBot

